<div class="login-wrapper">
    <!-- <nav class="wrapper">
        <div class="logo">
            <div class="logo-image">
                <a href="#"><img src="../../assets/images/logo.png" height="60px"></a>
            </div>
            <div class="logo-text">
                <a href="#">
                    <h4 style="font-family: 'Courgette', cursive">Lizard</h4>
                </a>
            </div>
        </div>
    </nav> -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <img src="../../assets/images/lizard-soft-silver-logo.png" name="lizard-logo" class="lizard-logo" />
            <h1>Привіт!</h1>
            <a class="waves-effect waves-light btn">
                <p>У<span>війти на сайт</span></p>
            </a>
        </div>
    </div>
</div>