<nav class="wrapper">
    <div class="logo">
        <div class="logo-image">
            <a href="#"><img src="../../assets/images/logo.png" height="60px"></a>
        </div>
        <div class="logo-text">
            <a href="#">
                <h4>Lizard</h4>
            </a>
        </div>
    </div>
    <div class="balance-info">
        <h5>You have <span class="hovered">700$</span> by 23.01.2018</h5>
    </div>
    <div class="navigation">
        <div class="services">
            <a href="#">Services</a>
        </div>
        <div class="account">
            <i class="small material-icons">account_circle</i>&nbsp;
            <a href="#">Account</a>
        </div>
    </div>
</nav>