<div class="leftnav-wrapper">
    <div class="collection">
        <input type="text" placeholder="Search...">
        <div class="buttons">
            <a href="#!" class="collection-item">All services</a>
            <a href="#!" class="collection-item">Documents</a>
            <a href="#!" class="collection-item">Personal</a>
            <a href="#!" class="collection-item">Payments</a>
            <a href="#!" class="collection-item">Others</a>
            <!-- Тестовая svg-icon перед названием collection-item-a
            <a href="#!" class="collection-item">
                <div class="item"><svg width="22" height="22" viewBox="0 0 24 24">
                    <path d="M21 3H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h5v2h8v-2h5c1.1 0 1.99-.9 1.99-2L23 5c0-1.1-.9-2-2-2zm0 14H3V5h18v12zm-2-9H8v2h11V8zm0 4H8v2h11v-2zM7 8H5v2h2V8zm0 4H5v2h2v-2z"/></svg></div>
                Others</a> -->
        </div>
    </div>
</div>